# inventory_template.j2

[web]
{% for i in range(1, 3) %}
web-{{ "%02d"|format(i) }}
{% endfor %}
[WAS]
{% for i in range(1, 3) %}
WAS-{{ "%02d"|format(i) }}
{% endfor %}
[DB]
DB-01
[haproxy]
haproxy-server
