USE {{ mysql_user_db_name }};

-- 사용자(User) 테이블 생성
CREATE TABLE IF NOT EXISTS USER (
    UserID int PRIMARY KEY NOT NULL AUTO_INCREMENT,
    Name varchar(50),
    ResidentRegistrationNumber varchar(15),
    ContactNumber varchar(14),
    Address varchar(100),
    Email varchar(50)
);

-- 사용자(User) 테이블에 데이터 삽입
INSERT INTO USER (UserID, Name, ResidentRegistrationNumber, ContactNumber, Address, Email)
    VALUES (1, '장발장', '123456-1234567', '01012345678', '서울시 강남구', 'bal@gmail.com'),
    (2, '장손장', '101010-2222222', '01022223333', '경기도 남양주시', 'son@gmail.com'),
    (3, '장눈장', '123456-5656565', '01099991111', '대전시 유성구', 'noon@naver.com');
